@import "https://unpkg.com/open-props";

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: rgb(141, 141, 190);
}
/* header with class "header" specifies background image appearance */
.header {
    height: 100%;
    background-image: url(images/boulder_protest.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.scroll-down {
    color: white;
    background: none;
    border: none;
}

/* header with class "header", first page that appears on the screen, specifies text appearance */
.header:nth-child(1) {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(141, 141, 190, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 20px;
}

h1 {
    color: white;
    font-family: Verdana;
    font-style: italic;
    font-size: 64px;
    letter-spacing: 5px;
}
/* header with class "header", second page that appears on the screen */
.header:nth-child(2) {
    height: 100%;
    background-image: none;
    background-color: rgb(141, 141, 190);
    margin: 0;

}

h2 {
    font-family: Georgia;
    text-align: center;
    color: white;
    padding: 32px;
    margin: 0;
    font-size: 72px;
}

nav {
    text-align: center;
    font-size: 25px;
    font-family: Open Sans;
    padding-bottom: 50px;
}

a {
    padding: 10px;
    color: white;
}

main {
    background-color: rgb(141, 141, 190);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

text {
    color: white;
    font-family: Open Sans;
    max-width: 50vw;
    font-size: 20px;
}

section {
    background: rgb(141, 141, 190);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

content {
    color: white;
    font-family: Georgia;
    font-size: 72px;
    font-weight: 900;
    padding: 32px;
}

@media screen and (max-width: 768px) {
    body {
      background-size: contain;
      background-image: none;
    }
  }