html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: rgb(141, 141, 190);
    position: relative;
}
/* header with class "header" specifies background image appearance */
.header {
    height: 100%;
    background-image: url(images/boulder_protest.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    
}

.scroll-down {
    color: white;
    background: none;
    border: none;
}

/* header with class "header", first page that appears on the screen, specifies text appearance */
.header:nth-child(1) {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.header-container {
    background-color: rgb(141, 141, 190, 0.7);
    border-radius: 10px;
    backdrop-filter: blur(2px);
    padding: 20px;
}

h1 {
    color: white;
    font-family: Verdana;
    font-style: italic;
    font-size: 64px;
    letter-spacing: 5px;
}
/* header with class "header", second page that appears on the screen */
.header:nth-child(2) {
    height: 100%;
    background-image: none;
    background-color: rgb(141, 141, 190);
    margin: 0;
}

h2 {
    font-family: Georgia;
    text-align: center;
    color: white;
    padding: 32px;
    margin: 0;
    font-size: 72px;
}

nav {
    text-align: center;
    font-size: 25px;
    font-family: Open Sans;
    padding-bottom: 50px;
}

.main-nav-item {
    padding: 10px;
}

a {
    color: white;
}

main {
    background-color: rgb(141, 141, 190);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

text {
    color: white;
    font-family: Open Sans;
    max-width: 50vw;
    font-size: 20px;
}

footer {
    text-align: center;
    align-items: center;
    color: white;
    bottom: 0;
    padding-top: 175px;
}

.copyleft-img {
    height: 15px;
    width: 15px;
    filter: invert();
    text-align: center;
    vertical-align: middle;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

section {
    background: rgb(141, 141, 190);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

content {
    text-align: center;
    color: white;
    font-family: Open Sans;
    max-width: 75vw;
    font-size: 20px;
    height: 90%;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    left: 49.125%;
    top: 25%;
    margin-top: -15px;
  }

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background: #ffffff;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: 1;
}

.timeline-container {
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: #7070AD; */
    box-sizing: border-box;
}

.timeline-text-box {
    padding: 20px 30px;
    position: relative;
    border-radius: 6px;
    font-size: 15px;
    background: #565696;

}

.left-container {
    position: relative;
    left: 0%;
}

.right-container {
    position: relative;
    left: 50%;
}

.timeline-text-box h3 {
    font-weight: 600;
}

.timeline-text-box p {
    /* display: inline-block; */
    margin-top: -10px;
    margin-bottom: 20px;
}

.timeline-left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #565696;
    right: -14px;
}


.timeline-right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #565696;
    left: -14px;
}

.resources-row {
    display: flex;
}

.resources-column {
    flex: 50%;
    padding: 50px;
}

.safe-spaces-column {
    flex: 50%;
    padding: 50px;
}



@media screen and (max-width: 768px) {
    text {
        max-width: 75vw;
    }
  }